body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.position {
  text-align: left;
}

.center-position {
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.href-class {
  text-decoration: none;
  color: white;
}

.href-dark {
  text-decoration: none;
  color: black;
}